<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <div class="flex justify-between items-center">
      <p class="bold">Home</p>
      <ion-icon name="notifications-outline"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<div class="ion-page" id="main-content">
  <ion-content [fullscreen]="true">
    <!-- <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button (click)="optionButtonClick()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
  </ion-content>
</div>
<app-tab-menu></app-tab-menu>
