<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="report">
      <ion-icon name="folder"></ion-icon>
      Report
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle"></ion-icon>
      Profile
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="log-in"></ion-icon>
      Logout
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>