<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="testing">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="radio">
      <ion-icon name="folder"></ion-icon>
      Report
    </ion-tab-button>
    <ion-tab-button tab="library">
      <ion-icon name="library"></ion-icon>
      Library
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="log-in"></ion-icon>
      Logout
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>