<div class="wrapper-modal">
  <ion-toolbar class="modal-toolbar">
    <div class="title">
      <ion-title>Options</ion-title>
      <ion-icon name="close-outline" (click)="cancel()"></ion-icon>
    </div>
  </ion-toolbar>
  <div class="options-section">
    <div class="option">
      <div>
        <ion-icon name="images-outline"></ion-icon>
        <p>Upload Image</p>
      </div>
      <div>
        <ion-icon name="document-outline"></ion-icon>
        <p>Manual Input</p>
      </div>
    </div>
  </div>
</div>