.title {
    display: flex !important;
    align-items: center !important; 
    padding: 0 20px !important;
    ion-title {
        font-size: 14px !important;
        font-weight: bold;
    }
    
    ion-icon {
        font-size: 24px;
    }
}

.wrapper-modal {
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    background: white;
    display: inline;
    position: fixed;
    width: 100%;
    bottom: 0;
}  
.ion-padding {
    padding-top: 0px;
}

.option {
    display: flex;
    font-family: 'Nunito-regular';
    font-size: 14px;
    font-weight: bold;
    background: #FFFF;
    padding: 20px !important;
    justify-content: space-around;

    ion-icon {
        margin-top: 10px;
        background: var(--ion-color-primary);
        color: #FFFF;
        padding: 20px;
        border-radius: 20px;
        font-size: 30px;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

ion-modal ion-content .content-section{
    background: #3DA69C !important;
}

.wrapper-modal {
    background: var(--ion-color-primary);
}